@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out; */
  }

  html {
    @apply font-sans;
  }

  body {
    @apply bg-[#0B0B0B];
  }

  @font-face {
    font-family: Graphik;
    src: url("../../fonts/Gotham-Book.otf");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: Graphik;
    src: url("../../fonts/Gotham-Medium.otf");
    font-weight: 500;
    font-display: swap;
  }

  input,
  textarea select,
  button {
    @apply outline-0;
  }

  button {
    @apply font-medium text-white;
  }

  .constraint {
    @apply container mx-auto px-6 lg:px-5 xl:px-[100px] 2xl:px-[228px];
  }

  p {
    @apply text-[#EEEEEE];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-medium;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-[44px] lg:text-5xl xl:text-[56px] sm:leading-normal lg:leading-tight
  }

  h2 {
    @apply text-3xl md:text-4xl;
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-[32px] leading-9 lg:leading-[48px];
  }

  h4 {
    @apply text-xl lg:text-2xl leading-9 lg:leading-[48px];
  }

  .explainer {
    @apply font-light lg:text-xl leading-7 lg:leading-8;
  }
}

@layer utilities {
  .border-radius {
    @apply rounded-[48px] md:rounded-[54px] lg:rounded-[64px];
  }
  /* Rows */
  .inline-start {
    @apply inline-flex items-center justify-start;
  }

  .inline-center {
    @apply inline-flex items-center justify-center;
  }

  .inline-end {
    @apply inline-flex items-center justify-end;
  }

  .inline-between {
    @apply inline-flex items-center justify-between;
  }

  .inline-evenly {
    @apply inline-flex items-center justify-evenly;
  }

  .start {
    @apply flex items-center justify-start;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .end {
    @apply flex items-center justify-end;
  }

  .between {
    @apply flex flex-row items-center justify-between;
  }

  .evenly {
    @apply flex items-center justify-evenly;
  }

  /* Cols */
  .col-start {
    @apply flex flex-col items-start justify-center;
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }

  .col-end {
    @apply flex flex-col items-end justify-center;
  }

  .col-between {
    @apply flex flex-col items-start justify-between;
  }
}
